* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: rgb(44, 44, 44);
}

h3,
h4 {
    font-weight: 400;
    color: rgb(105, 105, 105);
}

body {
    font-family: "Lato", sans-serif;
}

* {
    scrollbar-width: 10;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.App {
    transition: all 0.5s ease;
}

.library-active {
    margin-left: 30%;
}

.dark,
.library.dark {
    background: lightgrey;
}

html,
body,
#root,
.App {
    height: 100%;
}

@import "./song";
@import "./player";
@import "./nav";
